/*main contacto*/

main {
    img {

        height: 81vh;
        border: 5px solid chocolate;
        border-radius: 50px;
    }

    .imagenContacto,
    .mapa {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

}