/*main index*/

main {
    .imagenHome {
        display: flex;
        justify-content: center;

        .imgIndex {
            height: 70vh;
            border: 5px solid chocolate;
            border-radius: 50px;
        }
    }

    .videoContenedor {
        display: flex;
        justify-content: center;
        margin-inline: 10px;
    }
}